body {
  margin: 0;
  font-size: .875rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  background-color: rgba(244, 244, 244);
}

p {
 word-break: break-all;
}

hr {
 height: 1px;
 background-color: rgba(219, 219, 219);
 border: none;
}

.feather {
  width: 60px;
  height: 60px;
  vertical-align: text-bottom;
}

/*
utility -------------------------------------------------------
*/

.flex-c {
 display: flex;
 flex-direction: column;
}

.flex-r {
 display: flex;
 flex-direction: row;
}

.list-none {
 list-style: none
}

.deco-none {
 text-decoration: none;
}

.blue {
 color: blue !important;
}

.red {
 color: red !important;
}

.active {
 color: blue !important;
}

.btn {
 display: inline;
 padding: 5px;
 border: 1px solid;
 border-radius: 5px;
 text-align: center;
 text-decoration: none;
 color: green;
}

.responsive-true {
  display: none;
  color: white;
 }

.decoration-none {
 text-decoration: none;
 color: white;
}

.show-none {
 display: none;
}

/*
header -------------------------------------------------------
*/

.header {
 width: 100%;
 height: 60px;
 background-color: rgba(60, 64, 67);

 position: sticky;
 top: 0px;

 align-items: center;
 justify-content: center;
}

.header-container {
 width: 90%;
 height: 80%;

 justify-content: space-between;
 align-items: center;
}

.header__item-list {
 align-items: center;
}

.header__item-list li {
 margin-right: 30px;
}

.header__service-name {
 font-size: 1.5rem;
 color: white;
}

.header__search-form-input {
 display: inline-block;
 width: 200px;
 height: 25px;
 padding: 0 10px;
 font-size: 1rem;
}

/*
main -------------------------------------------------------
*/

.container-main {
 height: 100vh;
 overflow-y: scroll;
}

/*
sidebar -------------------------------------------------------
*/

.sidebar {
 width: 200px;
 min-width: 100px;
 height: 100vh;
 background-color: rgba(210, 214, 217);

 position: sticky;
 top: 60px;

 align-items: center;
}

.sidebar__item-list {
 padding: 0;
}

.sidebar__item {
 margin: 30px 0;
}

.sidebar__item-link {
 color: rgba(60, 64, 67);
 text-decoration: none;

 display: flex;
 flex-direction: row;
 align-items: center;
}

.sidebar__item-description {
 font-size: 1.2rem;
 font-weight: bold;
 padding-left: 5px;
}

pre > code {
  font-size: 0.8rem;
  font-family: "Sans Mono", "Consolas", "Courier", monospace;
}


/*
content -------------------------------------------------------
*/

.content-wrapper {
 width: 100%;
 display: flex;
 justify-content: center;
}

.content {
 width: 100%;
 max-width: 1000px;
 padding: 0;
 padding-top: 5px;
 background-color: white;
}

.content__title {
 padding-left: 30px;
}

.edit-btn {
 position: fixed;
 right: 40px;
 bottom: 40px;
}

/*
Note -------------------------------------------------------
*/

.note-content {
 width: 100%;
 display: flex;
 flex-direction: row;
}

.note-content__content-author {
 margin: 0;
 font-size: 0.6rem;
 text-decoration: none;
}

.note-content__content-author a {
 color: blue;
}

/*
user -------------------------------------------------------
*/

.user-header {
  width: 100%;
}

.user-icon {
 padding: 10px;
}

.user-header__info {
  margin-left: 40px;

  align-items: flex-start;
  justify-content: center;
}

.user-header__info__username {
  font-size: 1.5rem;
  justify-content: center;
}

.user-header__info__relation {
 margin: 10px 0;
}

.relation-text {
 text-decoration: none;
 cursor: pointer;
 border-bottom: 1px solid blue;
 margin: 5px 0;
}

.relationBtn {
 font-size: 1rem;
 margin-left: 10px;
}

/*
users ------------------------------------------------------
*/

.user-list {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.user-list__name {
  font-size: 1.5rem;
  vertical-align: middle;
  text-align: center;
}

/*
settings -------------------------------------------------------
*/

.settings-left {
 border-right: 1px solid rgba(219, 219, 219);
}

.settings-right {
 flex-grow: 10;
}

.sub-container {
 padding: 0 10px;
}

.settings-form {
 display: flex;
 flex-direction: column;
}

.form-group {
 width: 100%;
 margin: 20px 0;

 display: flex;
 flex-direction: column;
}

.form-input {
 width: 97%;
 padding: 8px;
 margin: 10px 0;
 font-size: 1rem;
}

.form-btn {
 margin-left: auto;
}

#icon-preview {
 align-self: flex-start;
 margin: 20px auto;
}

/*
responsive -------------------------------------------------------
*/

@media (max-width: 620px) {

 body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 0.7rem;
 }

 h1 {
  font-size: 1.4rem;
 }

 .header {
  height: 40px;
 }

 .header__item-list {
 width: 90%;
}

 .content-container {
  display: flex;
  flex-direction: column-reverse !important;
  min-height: 100vh;
  justify-content: space-between;
  overflow-y: scroll;

  padding-bottom: 60px;
 }

 .sidebar {
  width: 100%;
  height: 60px;
  background-color: rgba(210, 214, 217);

  margin-top: auto;
 }

 .sidebar__item-list {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
 }

 .sidebar__item {
  margin: 0 auto;
 }

 .sidebar__item-description {
  display: none;
 }

 .feather {
  width: 30px;
  height: 30px;
 }

 .feather-lock {
  width: 16px;
  height: 16px;
  margin-right: 8px;
 }

 .responsive-none {
  display: none;
 }

 .responsive-true {
  display: block;
 }

 .edit-btn {
  right: 40px;
  bottom: 80px;
 }

 .header-container {
  width: 95%;
 }

 .responsive-r-justify {
  justify-content: flex-end;
 }

 .settings-container {
  display: flex;
  flex-direction: column;
 }

 .settings-left {
  border-bottom: 1px solid rgba(219, 219, 219);
 }

 .form-group {
  margin: 5px 0;
 }

 .sidebar {
  position: fixed;
  bottom: 0;
 }

}

@media (max-width: 1000px) {
 .sidebar__item-description {
  display: none;
 }
}