{% extends 'notes/app_base.html' %}
{% load static %}


<!--Head-->

{% block title %}
All notes
{% endblock title %}

{% block search_form_placeholder %}
Search notes
{% endblock search_form_placeholder %}

{% block active_all_notes %}
active
{% endblock active_all_notes %}

<!--Body-->

{% block content_title %}
All notes
{% endblock content_title %}

{% block content %}
<div>
  {% for note in notes_list %}
  <div class="note-content">
    <div class="note-content__icon">
      <a href="{% url 'notes:user_page' note.author.id %}">
        <img class="user-icon" src="{{ note.author.icon_small.url }}" alt="N">
      </a>
    </div>

    <div class="note-content__content">
      <p class="note-content__content-author"><a
              href="{% url 'notes:user_page' note.author.id %}">@{{ note.author }}</a> {{ note.get_format_created_at }}</p>
      <div style="margin:0 30px;"
           onclick="location.href='{% url 'notes:note_detail' note.id %}'">
        {{ note.get_text_as_markdown }}
      </div>
    </div>
  </div>
  <hr>
  {% endfor %}
</div>
{% endblock content %}

