{% load static %}

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'notes/app_base.css' %}">

    <!-- Markdown Editor - SimpleMDE   -->
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>

    <title>{% block title %}{% endblock title %}</title>
  </head>

  <body>
    <header class="header flex-c">
      <div class="header-container flex-r">
        <ul class="header__item-list flex-r">
          <li class="header__service-name responsive-none">
            <a href="{% url 'notes:home' %}" class="decoration-none">GNotes</a>
          </li>
          <li>
            <form class="header__search-form {% block show_search_form %}{% endblock show_search_form %}" action="" method="GET">
              <input class="header__search-form-input" name="q" type="text" placeholder="{% block search_form_placeholder %}{% endblock search_form_placeholder %}">
            </form>
          </li>
        </ul>
        <ul class="header__item-list flex-r responsive-r-justify">
          {% if user.id %}
          <li><a href="{% url 'notes:user_page' user.pk %}"><img class="responsive-none" src="{{ user.icon_small.url }}" alt="icon"></a></li>
          <li><a class="btn responsive-none" href="{% url 'notes:logout' %}">log out</a></li>
          {% else %}
          <li><a class="btn responsive-none" href="{% url 'notes:login' %}">Sign in</a></li>
          <li><a class="btn responsive-none" href="{% url 'notes:signup' %}">Sign up</a></li>
          {% endif %}
          <li class="responsive-true"><span data-feather="align-justify"></span></li>
        </ul>
      </div>
    </header>

    <div class="content-container flex-r">
      <div class="sidebar flex-c">
        <ul class="sidebar__item-list list-none">
          <li class="sidebar__item">
            <a class="sidebar__item-link {% block active_home %}{% endblock active_home %}"
               href="{% url 'notes:home' %}">
              <span data-feather="home"></span>
              <span class="sidebar__item-description">Home</span>
            </a>
          </li>
          <li class="sidebar__item">
            <a class="sidebar__item-link {% block active_all_notes %}{% endblock active_all_notes %}"
               href="{% url 'notes:notes' %}">
              <span data-feather="book"></span>
              <span class="sidebar__item-description">Notes</span>
            </a>
          </li>
          <li class="sidebar__item">
            <a class="sidebar__item-link {% block active_users %}{% endblock active_users %}"
               href="{% url 'notes:users' %}">
              <span data-feather="users"></span>
              <span class="sidebar__item-description">Users</span>
            </a>
          </li>
          {% if user.id %}
          <li class="sidebar__item">
            <a class="sidebar__item-link {% block active_mypage %}{% endblock active_mypage %}"
               href="{% url 'notes:user_page' user.id %}">
              <span data-feather="user"></span>
              <span class="sidebar__item-description">My page</span>
            </a>
          </li>
          <li class="sidebar__item">
            <a class="sidebar__item-link {% block active_settings %}{% endblock active_settings %}"
               href="{% url 'notes:settings' user.id %}">
              <span data-feather="settings"></span>
              <span class="sidebar__item-description">Settings</span>
            </a>
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="content-wrapper">
        <div class="content">
          <div class="{% block hide-hr %}{% endblock hide-hr %}">
            <h1 class="content__title">{% block content_title %}{% endblock content_title %}</h1>
            <hr>
          </div>
          {% block content_header %}{% endblock content_header %}
          {% block content %}{% endblock content %}

          {% if user.id %}
          <div class="edit-btn">
            <a class="deco-none blue" href="{% url 'notes:post_note' %}">
              <span class="fa" data-feather="edit"></span>
            </a>
          </div>
          {% endif %}
        </div>
      </div>
    </div>

    <!-- Feather icon - https://feathericons.com/ -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
    <script src="{% static 'notes/app_base.js' %}"></script>

    <!-- Markdown Highlighter - highlightjs   -->
    <link rel="stylesheet"
        href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.17.1/build/styles/dracula.min.css">
    <script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.17.1/build/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

  </body>
</html>