{% extends 'app_base.html' %}
{% load static %}


<!--Head-->

{% block css_link %}
<link rel="stylesheet" href="{% static 'notes/app_base.css' %}">
{% endblock css_link %}

{% block title %}
Home
{% endblock title %}


{% block search_form %}
{% url 'notes:home' %}
{% endblock search_form %}

{% block search_form_placeholder %}
Search notes
{% endblock search_form_placeholder %}

{% block active_home %}
active
{% endblock active_home %}


<!--Body-->

{% block board_title %}
Home
{% endblock board_title %}

{% block content %}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4 maincontent">
    <div class="my-3 p-3 bg-white rounded shadow-sm">
        <h6 class="border-bottom border-gray pb-2 mb-0">Time line</h6>
        {% for note in notes_list %}
        <div class="media text-muted pt-3">
            <a href="{% url 'notes:user_page' note.author.id %}">
                <img src="{{ note.author.icon_small.url }}" alt="N">
            </a>
            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <strong class="d-block text-gray-dark">
                    <a href="{% url 'notes:user_page' note.author.id %}">@{{ note.author }}</a> Posted at: {{ note.get_format_created_at }}
                </strong>
            </p>
        </div>

        <div style="margin:0 30px;" onclick="location.href='{% url 'notes:note_detail' note.id %}'">
            {{ note.get_text_as_markdown }}
        </div>
        {% endfor %}
        <small class="d-block text-right mt-3">
            <a href="#">All updates</a>
        </small>
    </div>
</main>
{% endblock content %}

