{% extends 'app_base.html' %}
{% load static %}

{% block css_link %}
<link rel="stylesheet" href="{% static 'notes/app_base.css' %}">
{% endblock css_link %}


{% block title %}
Home
{% endblock title %}

{% block top_username %}
{{ user.get_username }}
{% endblock top_username %}

{% block logout_link %}
{% url 'notes:logout' %}
{% endblock logout_link %}

{% block content %}
<!--{% for account in account_list %}-->
<!--    <div class="container">-->
<!--        <p>{{ account.username }}</p>-->
<!--        <ul>-->
<!--            <li>noted_num: {{ account.noted_num }}</li>-->
<!--            <li>noted_tables: {{ account.noted_tables }}</li>-->
<!--            <li>icon: {{ account.icon }}</li>-->
<!--        </ul>-->
<!--    </div>-->
<!--{% endfor %}-->

{% endblock content %}

{% block js_link %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="/docs/4.3/assets/js/vendor/jquery-slim.min.js"><\/script>')</script><script src="/docs/4.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
<script src="{% static 'notes/app_base.js' %}"></script>
{% endblock js_link %}