{% extends 'auth_base.html' %}
{% load static %}

{% block css_link %}
<link rel="stylesheet" href="{% static 'notes/style.css' %}">
{% endblock css_link %}


{% block title %}
this is signup
{% endblock title %}

{% block content %}
<form action="{% url 'notes:login' %}" method="POST" class="form-signin">
    {% csrf_token %}
    <h1 class="h3 mb-3 font-weight-normal">Login</h1>
    {% if error %}
    <p>{{ error }}</p>
    {% endif %}
    <label for="inputUsername" class="sr-only">Username</label>
    <input type="username" id="inputEmail" name="username" class="form-control" placeholder="User name" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
    <p class="mt-5 mb-3 text-muted"><a href="{% url 'notes:signup' %}">→Sign up</a></p>
</form>
{% endblock content %}