{% extends 'notes/app_base.html' %}
{% load static %}


<!--Head-->

{% block title %}
Edit
{% endblock title %}


<!--Body-->

{% block content_title %}
Edit
{% endblock content_title %}


{% block content %}
<div class="form-group">
  <form action="" method="POST">
    {% csrf_token %}
    <textarea name="text" class="form-control" id="form-markdown-textarea"></textarea>
    <input type="hidden" name="author" value="{{ user.id }}">
    <button type="submit" class="btn">Save</button>
  </form>

  <div id="alt-textarea">{{ note.text }}</div>
  <script>
    // 一度alt-textareaに描写されたものをmarkdownエリアに再描写
    var textarea = document.getElementById("alt-textarea")
    var content = textarea.innerHTML;
    textarea.innerHTML = '';

    var simplemde = new SimpleMDE();
    simplemde.value(content);
  </script>
</div>
{% endblock content %}
