{% extends 'notes/app_base.html' %}
{% load static %}

<!--Head-->

{% block title %}
Home
{% endblock title %}

{% block search_form_placeholder %}
Search notes
{% endblock search_form_placeholder %}

{% block active_home %}
active
{% endblock active_home %}

<!--Body-->

{% block content_title %}
Note
{% endblock content_title %}

{% block content %}
<div>
  {% if user.id == note.author.id %}
  <div class="note-detail__btn-area" style="text-align: right;">
    <a href="{% url 'notes:note_update' note.id %}" class="btn"
       role="button" aria-pressed="true">Edit</a>
    <a href="{% url 'notes:note_delete' note.id %}" class="btn red"
       role="button" aria-pressed="true">Delete</a>
  </div>
  <hr>
  {% endif %}

  <div class="note-content">
    <div class="note-content__icon">
      <a href="{% url 'notes:user_page' note.author.id %}">
        <img src="{{ note.author.icon_small.url }}" alt="N">
      </a>
    </div>

    <div class="note-content__content">
      <p class="note-content__content-author"><a
              href="{% url 'notes:user_page' note.author.id %}">@{{ note.author }}</a> {{ note.get_format_created_at }}</p>
      <div  class="note-content__content-area"
           onclick="location.href='{% url 'notes:note_detail' note.id %}'">
        {{ note.get_text_as_markdown }}
      </div>
    </div>
  </div>
  <hr>
</div>
{% endblock content %}

