{% extends 'notes/app_base.html' %}
{% load static %}


<!--Head-->

{% block title %}
New Note
{% endblock title %}


<!--Body-->

{% block content_title %}
New note
{% endblock content_title %}


{% block content %}
  <div class="form-group">
    <form action="" method="POST">{% csrf_token %}
      <textarea name="text" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      <input type="hidden" name="author" value="{{ user.id }}">
      <button type="submit" class="btn">Submit</button>
    </form>
    <script>
      var simplemde = new SimpleMDE();
    </script>
  </div>
{% endblock content %}
