{% extends 'notes/app_base.html' %}
{% load static %}


<!--Head-->

{% block title %}
Settings
{% endblock title %}

{% block active_settings %}
active
{% endblock active_settings %}

{% block show_search_form %}
show-none
{% endblock show_search_form %}


<!--Body-->

{% block content_title %}
Settings
{% endblock content_title %}

{% block content %}
<div class="settings-container flex-r">

  <div class="settings-left sub-container">
    <div class="form-group">
      <form class="settings-form" method="POST" enctype="multipart/form-data">{% csrf_token %}
        <label>Icon</label>
        <img id="icon-preview" src="{{ user.icon_big.url }}" alt="icon">
        <input type="file" name="icon" onchange="preview_img(this);">
        <input type="hidden" name="username" value="{{ user.get_username }}">
        <button type="submit" class="btn form-btn">Save</button>
      </form>
      <script type="text/javascript">
        function preview_img(input) {
          if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
              el = document.getElementById('icon-preview');
              el.src = e.target.result;
            }
            reader.readAsDataURL(input.files[0]);
          }
        }
      </script>
    </div>

  </div>

  <div class="settings-right sub-container">

    <div class="form-group">
      <form class="settings-form" action="" method="POST">{% csrf_token %}
        <label>User name</label>
        <input type="text" name="username" class="form-input" value="{{ user.get_username }}">
        <button type="submit" class="btn form-btn">Save</button>
      </form>
    </div>

    <hr>

    <div class="form-group">
      <form class="settings-form" action="{% url 'notes:password_change' %}" method="POST">{% csrf_token %}
        {{ error }}
        <label>Old password</label>
        <input type="password" name="old_password" class="form-input" placeholder="Enter old password">
        <label>New password</label>
        <input type="password" name="new_password1" class="form-input" placeholder="Enter new password">
        <label>New password(verify)</label>
        <input type="password" name="new_password2" class="form-input" placeholder="Enter new password again">
        <button type="submit" class="btn form-btn">Change</button>
      </form>
    </div>

    <hr>

    <div class="form-group delete-account">
      <form class="settings-form" action="{% url 'notes:delete_account' user.pk %}" method="POST">{% csrf_token %}
        {{ error }}
        <label>Delete account</label>
        <input type="password" name="delete-password" class="form-input" placeholder="Enter your password">
        <button type="submit" class="btn red">delete</button>
      </form>
    </div>

  </div>
</div>

<hr>
{% endblock content %}
