{% extends 'app_base.html' %}
{% load static %}


<!--Head-->

{% block css_link %}
<link rel="stylesheet" href="{% static 'notes/app_base.css' %}">
{% endblock css_link %}

{% block title %}
@{{ target_user }}
{% endblock title %}


<!--Body-->

{% block board_title %}
Settings @{{ user.get_username }}
{% endblock board_title %}


{% block content %}
 <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4 maincontent">
  <div class="my-3 p-3 bg-white rounded shadow-sm">
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
      <div class="form-group">
        <label for="inputUserName">User name : {{ user.get_username }}</label>
        <input type="text" name="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter new user name">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="form-group">
        <label for="inputPassword1">Password</label>
        <input type="password" name="password" class="form-control" id="inputPassword1" placeholder="Password">
      </div>
      <div class="form-group">
        <label for="iconFile">Icon</label>
          <p><img src="{{ user.icon.url }}" alt="N" style="width:100px;height:100px;"></p>
          <p><input type="file" name="icon"></p>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
 </main>
{% endblock content %}
