{% extends 'notes/app_base.html' %}
{% load static %}


<!--Head-->

{% block title %}
  @{{ target_user }}
{% endblock title %}

{% block search_form_placeholder %}
  Search notes
{% endblock search_form_placeholder %}


{% block active_mypage %}
  {% if user.id == target_user.pk %}
  active
  {% endif %}
{% endblock active_mypage %}

{% block active_users %}
  {% if user.id != target_user.pk %}
  active
  {% endif %}
{% endblock active_users %}

{% block hide-hr %}
show-none
{% endblock hide-hr %}


<!--Body-->

{% block content_header %}
<div class="user-header flex-r">
  <img class="user-icon" src="{{ target_user.icon_big.url }}" alt="N">

  <div class="user-header__info flex-c">
    <div class="user-header__info__username flex-r">
      @ {{ target_user }}

      {% if user.id %}
        {% if user.id != target_user.pk %}
          {% if is_follow %}
          <a href="{% url 'notes:unfollow' target_user.pk %}" class="btn relationBtn red">unfollow</a>
          {% else %}
          <a href="{% url 'notes:follow' target_user.pk %}" class="btn relationBtn blue">follow</a>
          {% endif %}
        {% endif %}
      {% endif %}
    </div>

    <div class="user-header__info__relation">
      <a class="relation-text" href="{% url 'notes:user_follow_list' target_user.pk %}"><b>{{ num_follow }}</b> Follow</a>
      <a class="relation-text" href="{% url 'notes:user_follower_list' target_user.pk %}"><b>{{ num_follower }}</b> Follower</a>
    </div>


  </div>
</div>
<hr>
{% endblock content_header %}


{% block content %}
<div>
  {% for note in target_user_notes_list %}
  <div class="note-content">
    <div class="note-content__icon">
      <a href="{% url 'notes:user_page' note.author.id %}">
        <img class="user-icon" src="{{ note.author.icon_small.url }}" alt="N">
      </a>
    </div>

    <div class="note-content__content">
      <p class="note-content__content-author"><a
              href="{% url 'notes:user_page' note.author.id %}">@{{ note.author }}</a> {{ note.get_format_created_at }}</p>
      <div style="margin:0 30px;"
           onclick="location.href='{% url 'notes:note_detail' note.id %}'">
        {{ note.get_text_as_markdown }}
      </div>
    </div>
  </div>
  <hr>
  {% endfor %}
</div>
{% endblock content %}
