{% extends 'notes/app_base.html' %}
{% load static %}


<!--Head-->

{% block title %}
Users
{% endblock title %}

{% block search_form_placeholder %}
Search user
{% endblock search_form_placeholder %}

{% block active_users %}
active
{% endblock active_users %}


<!--Body-->

{% block content_title %}
Users
{% endblock content_title %}

{% block edit-btn-hidden %}
hidden
{% endblock edit-btn-hidden %}

{% block content %}
<div>

  {% for each_user in users_list %}
  <div class="user-list">

    <div>
      <a href="{% url 'notes:user_page' each_user.pk %}">
        <img class="user-icon" src="{{ each_user.icon_small.url }}" alt="No images">
      </a>
    </div>

    <div class="user-list__name">
      <a href="{% url 'notes:user_page' each_user.pk %}">@{{ each_user.username }}</a>
    </div>

  </div>
  <hr>
  {% endfor %}

</div>
{% endblock content %}

